<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1 class="text-center">Eat-Da-Burger</h1>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <img src="/assets/images/burger-151421_1280-200x200.png" class="img center" alt="Cartoon burger">
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 border-dark text-center">
            <h2>Burgers To Eat</h2>
            <br>
            <ul>
                {{#each burgers}}
                {{#unless eaten}}
                {{> burgers/burger-block eaten=true}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-md-6 border-dark text-center">
            <h2>Burgers Eaten</h2>
            <br>
            <ul>
                {{#each burgers}}
                {{#if eaten}}
                {{> burgers/burger-block eaten=false}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<br>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <h2>Add a Burger</h2>
            <form class="create-form">
                <div class="form-group">
                    <label for="burger"></label>
                    <input type="text" id="burger" name="name">
                </div>
                <button type="submit">Add Burger</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>